/* ----------------------------------------- */
/* GENERAL RULES --------------------------- */
/* ----------------------------------------- */
html { /* Scroll visual effect */
    scroll-behavior: smooth;
}
body {
    font-family: "Helvetica", sans-serif;
    color: #252525;
    background-color: #dddddd;
    font-size: 14px;
    font-weight: light 300;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Technique to put the footer on the bottom of the webpage (Header/Main/Footer) */
    min-height: 100vh /* Make the website at least as one page */
    /* margin: 0px; */
}
html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Hide the horizontal scroll */
}
a { /* Link style */
    color: #468847;
    text-decoration: underline;
}
a:focus-visible { /* TAB for Accessibility */
    border: 5px solid #ff0000;
}
a:hover { /* Link style when you have your mouse on it */
    color: #ff0000;
} 
button {
    cursor: pointer; /* Cursor style for buttons */
    background-color: #252525;
    border: 2px solid #252525;
    border-radius: 12px;
    color: #dddddd;
    padding: 2%; /* Responsive padding, depend on % */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
} 
button:hover { /* Button style when you have your mouse on it */
    background-color: #dddddd; 
    border: 2px solid #252525;
    color: #252525;
} 
/* ----------------------------------------- */


/* ----------------------------------------- */
/* HEADER ---------------------------------- */
/* ----------------------------------------- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.face-logo a:hover { /* Logo style when you have your mouse on it (like links & buttons) */
    color: initial;
    opacity: 50%;
    text-decoration: none;
    background: none;
}
/* ----------------------------------------- */


/* ----------------------------------------- */
/* NAV BAR --------------------------------- */
/* ----------------------------------------- */
.container {
    max-width: 1050px;
    width: 100%;
    margin: auto;
}
.navbar {
    width: 100%;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

/* GENERAL MENU RULES */
.navbar .menu-items {
    display: flex;
}
.navbar .nav-container li {
    list-style: none;
}
.navbar .nav-container a {
    text-decoration: none;
    color: #252525;
    font-size: 3vw;
    font-weight: bold;
}
.navbar .nav-container a:hover {
    opacity: 50%;
}

/* DESIGN OF THE HAMBURGER MENU*/
.nav-container {
    position: relative;
    height: 60px;
}
.nav-container .checkbox {
    position: absolute;
    height: 50px;
    opacity: 0;
    cursor: pointer;
    z-index: 15; /* Put the cross as the top layer */
}
.nav-container .hamburger-lines {
    position: absolute;
    display: block;
    width: 40px;
    height: 30px;
    top: 15px;
    right: 20px;
    z-index: 15; /* Also put the lines as the top layer */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 25; /* Put the hamburger menu as the top layer */
}
.nav-container .hamburger-lines .line {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #252525;
    transition: transform 0.4s ease-in-out;
}

/* ANIMATION OF THE HAMBURGER MENU */
.nav-container .hamburger-lines .line1 {
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}
.nav-container .hamburger-lines .line3 {
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines {
    position: fixed; /* Keep button always visible even when we are inside the slide menu */
    top: 27px;
    right: 20px;
    z-index: 30; /* Put the hamburger menu as the top top layer */
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(-45deg) translate(-5px, 13px);
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    opacity: 0;
}
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(45deg) translate(-5px, -13px);
}

/* MOBILE MENU LOOK (CLASSIC) */
.navbar .menu-items {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%; /* Sliding menu as only a 40% part of the screen (from the rightside) */
    background: #dddddd;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 100px;
    margin-top: 0;
    z-index: 10; /* Put the off-canva menu as the middle layer */
}
.navbar .menu-items li {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

/* DESKTOP MENU LOOK (MEDIAQUERRY) */
@media (min-width: 768px) {
    .navbar .menu-items {
        position: static;
        height: auto;
        width: auto;
        background: none;
        box-shadow: none;
        transform: none;
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    .navbar .menu-items li {
        margin: none;
        display: flex;
        align-items: center;
        margin: 0;
    }
    .navbar .nav-container a {
        font-size: 2vw;
        padding: 0.7rem;
    }
    .nav-container .hamburger-lines,
    .nav-container .checkbox { /* Hide the hamburger menu when in desktop format */
        display: none;
    }
}
/* ----------------------------------------- */


/* ----------------------------------------- */
/* PAGE TITLE ------------------------------ */
/* ----------------------------------------- */
.page-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #252525;
}
.page-title {
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    color: #dddddd;
    letter-spacing: 0.5rem;
}
/* ----------------------------------------- */


/* ----------------------------------------- */
/* HERO CONTENT ---------------------------- */
/* ----------------------------------------- */
.hero {
    background-image: url('../img/hero-container-mobile.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; /*  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1; /* Put the content as the bottom layer */
}
.hero-content {
    position: absolute;
    bottom: 0.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    text-align: center;
    font-size: 2.5vw;
    text-shadow: 1px 1px 1px #252525ba;
}
.hero-button {
    font-size: 2.5vw; /* Make the Hero's button responsive */
}
.hero-h {
    background-color: #ffffff;
    border-radius: 5px ;
    line-height: 120%;
    width: fit-content;
    text-align: center;
    margin: 0;
    display: inline-block;
    letter-spacing: 0.2rem;
}
.hero-p {
    color: #ffffff;
    -webkit-text-stroke: 1px #252525ba;
    font-weight: bold;
}

@media (min-width: 768px) { /* Make it responsive for desktops, with a new GIF format adapted for it */
    .hero {
        background-image: url('../img/hero-container-desktop.gif');
    }
}
/* ----------------------------------------- */


/* ----------------------------------------- */
/* COMMENTS SECTION ------------------------ */
/* ----------------------------------------- */
.comments-container {
    margin-top: 20px;
}
.comments-h2 {
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    padding: 1%;
}
.comments-part {
    border: 2px solid #252525;
    border-radius: 5px;
    padding: 10px;
    margin: 16px;
  }
.comments-part::after {
    content: "";
    clear: both;
    display: table;
 }
.comments-part img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    width: 15%;
}
.comments-part span {
    font-size: 2.5vw;
    margin-right: 15px;
    font-weight: bold;
}
.comments-part p {
    font-size: 2vw;
    margin-right: 15px;
}
  
@media (max-width: 768px) {
    .comments-part {
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        text-justify: auto;
    }
    .comments-part img {
        margin: auto;
        float: none;
        display: block;
        justify-content: center;
        width: 30%;
    }
}
/* ----------------------------------------- */


/* ----------------------------------------- */
/* SM BAR ---------------------------------- */
/* ----------------------------------------- */
.sm-bar {
    display: flex;
    justify-content: flex-start;
}
.navbar .nav-container li {
    margin: none; /* Already to much margin */
}
ul.social-media-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
ul.social-media-list li {
    display: inline-block;
}
ul.social-media-list img {
    padding: 5px;
    border-radius: 5px;
    width: 70%;
    height: auto;
    justify-content: center;
}
ul.social-media-list a:hover {
    opacity: 50%;
}
.sm-link {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) { /* Making it adapted/responsive of the desktops */
    .sm-bar {
        width: auto;
        position: static;
    }
    .navbar .menu-items {
        display: flex;
        align-items: center;
    }
    .navbar .menu-items li {
        margin-right: 0;
    }
    .navbar .menu-items .sm-bar {
        margin-left: 0;
    }
    ul.social-media-list img {
        width: 35px;
        height: 35px;
        justify-content: center;
    }
}
/* ----------------------------------------- */


/* ----------------------------------------- */
/* FOOTER ---------------------------------- */
/* ----------------------------------------- */
footer {
    bottom: 0; /* Position to the bottom of the page */
    width: 100%;
    background-color: #252525;
    color: #dddddd;
    text-align: right;
    line-height: 2.2vw; /* Making both 2 lines responsive for all devices */
    font-size: 1.8vw;
  }
/* ----------------------------------------- */


/* ----------------------------------------- */
/* FORM ------------------------------------ */
/* ----------------------------------------- */
form {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    background: #dddddd;
    display: grid;
    gap: 15px;
}
label {
    font-weight: 600;
    color: #333;
    display: block;
    margin-bottom: 5px;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}
input:focus, select:focus, textarea:focus {
    border-color: #dddddd;
    outline: none;
}

/* GRID FORMULAIRE */
.container-form {
    display: grid;
    gap: 10px;
}
.container-form [type="submit"]:hover {
    background: #dddddd;
}


.error { /* Error message style */
    color: #ff0000;
    font-size: 14px;
}

@media (min-width: 768px) { /* Making the form responsive (2 colums when on desktop formats) */
    .container-form {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .full-width {
        grid-column: span 2;
    }
}
/* ----------------------------------------- */


/* ----------------------------------------- */
/* THANK YOU CONTAINER --------------------- */
/* ----------------------------------------- */
.thank-you-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-size: 2.5vw;
}
.ok-img {
    width: 80%;
    height: auto;
}
.thank-you-h2 {
    margin: 0;
}
.thank-you-button {
    font-size: 2.5vw; /* Make the Thank's button responsive */
}

@media (min-width: 768px) { /* Making the container responsive (2 colums when on desktop formats) */
    .thank-you-container {
        display: flex;
        flex-direction: row
    }
    .thank-you-text { /* With the right one shared in 3 lines, adpated to the large desktop format */
        display: flex;
        flex-direction: column;
        padding-right: 80px;
    }
}
/* ----------------------------------------- */


/* ----------------------------------------- */
/* ABOUTE ME ------------------------------- */
/* ----------------------------------------- */
.about-me-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.about-me-text {
    flex: 1 1 300px; /* Flex-grow: 1, Flex-shrink: 1, Flex-basis: 300px */
    padding: 20px;
    line-height: 1.5rem;
    text-justify: inter-word;
}
.about-me-text img {
    width: 80%;
    height: auto;
}
q {
    font-style: italic;
    font-weight: bold;
}
/* ----------------------------------------- */



body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Technique to put the footer on the bottom of the webpage (Header/Main/Footer) */
    min-height: 100vh /* Make the website at least as one page */
}


/* ----------------------------------------- */
/* GSAP TRY -------------------------------- */
/* ----------------------------------------- */
