/* ----------------------------------------- */
/* GENERAL RULES --------------------------- */
/* ----------------------------------------- */
html, body {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--c-bg);
    color: #fff;
    white-space: nowrap;
    transition-property: background-color;
    transition-duration: .9s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

html { /* Scroll visual effect */
    scroll-behavior: smooth;
}
body {
    font-family: "Helvetica", sans-serif;
    color: #252525;
    background-color: #dddddd;
    font-size: 14px;
    font-weight: light 300;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Technique to put the footer on the bottom of the webpage (Header/Main/Footer) */
    min-height: 100vh; /* Make the website at least as one page */
    /* margin: 0px; */
}

a { /* Link style */
    color: #468847;
    text-decoration: underline;
}
a:focus-visible { /* TAB for Accessibility */
    border: 5px solid #ff0000;
}
a:hover { /* Link style when you have your mouse on it */
    color: #ff0000;
}
button {
    cursor: pointer; /* Cursor style for buttons */
    background-color: #252525;
    border: 2px solid #252525;
    border-radius: 12px;
    color: #dddddd;
    padding: 2%; /* Responsive padding, depend on % */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
}
button:hover { /* Button style when you have your mouse on it */
    background-color: #dddddd;
    border: 2px solid #252525;
    color: #252525;
}

/* ----------------------------------------- */
/* BACKGROUND ------------------------------ */
/* ----------------------------------------- */
.image-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.background-image {
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    opacity: 1;
}
.background-image.inactive {
    opacity: 0;
}

/* ----------------------------------------- */
/* DAY-NIGHT ------------------------------- */
/* ----------------------------------------- */
.day-night-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 28px;
    background-color: #b4b4b4;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 200;
    outline: none;
}
.day-night-button {
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.04);
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.day-night-container.active {
    background-color: #181818;
}
.day-night-container.active .day-night-button {
    transform: translateX(34px);
    background-color: #fff;
}
